<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 模板语法</title>


    <script src="../resources/js/vue.min.js"></script>

</head>
<body>
    <h2>2、 模板语法</h2>
    <!--插值-->
    <span>Message: {{ msg }}</span>

    <!--文本-->
    <span v-once>这个将不会改变: {{ msg }}</span>
    <p id="app6">Using mustaches: {{ rawHtml }}</p>

    <!--原始html-->
    <p id="app7">Using v-html directive: <span v-html="rawHtml"> </span></p>

    <!--使用 JavaScript 表达式-->


    <!--指令-->
    <p v-if="seen">现在你看到我了</p>

    <!--3 计算属性和侦听器-->
    <h2>3、 计算属性和侦听器</h2>
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <div id="demo">{{ fullName }}</div>


    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

    <!--4 Class 与 Style 绑定-->
    <h2>4、 Class 与 Style 绑定</h2>
    <h3>4.1、 绑定 HTML Class</h3>
    <div  id = "app10" class="static" class="static"
         v-bind:class="{ active: isActive, 'text-danger': hasError }">
        app10
    </div>

    <h3>4.2、 绑定内联样式</h3>
    <div id ="app11"
         v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">样式</div>
    <div id="app12" v-bind:style="styleObject">app12</div>

    <h2>5、 条件渲染</h2>
    <h3>v-if</h3>
    <div id="app13">
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
    </div>

    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <div id ="app14">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>
    <h2>6、 列表渲染</h2>
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>
    <h3>用 v-for 把一个数组对应为一组元素</h3>
    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <h3>一个对象的 v-for</h3>
    <ul id="v-for-object" class="demo">

        <li v-for="value in object">
            {{ value }}
        </li>

        <div v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </div>

    </ul>
    <div id="app18">
        <div   v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </div>
    </div>

    <div id="app19">
        <li v-for="n in evenNumbers">{{ n }}</li>
        <br>
        <li v-for="n in even(numbers)">{{ n }}</li>

    </div>

    <div>
        <span v-for="n in 10">{{ n }} </span>
    </div>

    <ul id="app20">
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li class="divider"></li>
        </template>
    </ul>

    <div id="todo-list-example">
        <input
                v-model="newTodoText"
                v-on:keyup.enter="addNewTodo"
                placeholder="Add a todo"
        >
        <ul>
            <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>



    <h2>7、 事件处理</h2>
    <h3> 监听事件</h3>

    <div id="example-11">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The button above has been clicked {{ counter }} times.</p>
    </div>
    <div id="example-22">
        <!-- `greet` 是在下面定义的方法名 -->
        <button v-on:click="greet">Greet</button>
    </div>
    <div id="example-3">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click="say('what')">Say what</button>
        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>
    </div>

    <!-- 阻止单击事件继续传播 -->
    <a v-on:click.stop="doThis"></a>

    <!-- 提交事件不再重载页面 -->
    <form v-on:submit.prevent="onSubmit"></form>

    <!-- 修饰符可以串联 -->
    <a v-on:click.stop.prevent="doThat"></a>

    <!-- 只有修饰符 -->
    <form v-on:submit.prevent></form>

    <!-- 添加事件监听器时使用事件捕获模式 -->
    <!-- 即元素自身触发的事件先在此处处理，然后才交由内部元素进行处理 -->
    <div v-on:click.capture="doThis">...</div>

    <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
    <!-- 即事件不是从内部元素触发的 -->
    <div v-on:click.self="doThat">...</div>
    <input v-on:keyup.13="submit">

    <button @click.ctrl="onClick">A</button>

    <h2>8、 表单输入绑定</h2>
    <h3> 基础用法</h3>
    <div id="app21">
        <input id='' v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <h4>多行文本</h4>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message2 }}</p>
        <br>
        <textarea v-model="message2" placeholder="add multiple lines"></textarea>
        <h4>复选框</h4>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

    </div>


    <div id='example-33'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <h4>单选按钮</h4>
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <h4>选择框</h4>
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <div id="app23">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <h3>值绑定</h3>
    <div id = 'app24'>
        <!-- 当选中时，`picked` 为字符串 "a" -->
        <input type="radio" v-model="picked" value="a">
        <!-- `toggle` 为 true 或 false -->
        <input type="checkbox" v-model="toggle">
        <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>
    </div>




</body>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="../resources/js/2_template.js"></script>
</html>